:root {
    --color-primary: #fff;
    --color-secondary: ???;
    --color-accent: #bf4db2;
    --color-headings: #918ca4;
    --color-background: #050100;
    --color-body: #918ca4;
}

/* Typography */
html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    color: var(--color-body)
}

h1, h2, h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

/* Links */
a {
    text-decoration: none;
}

.link {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

@media screen and (min-width: 1024px) {
    .link {
        font-size: 1.5rem;
    }
}

/* Lists */
.list {
    list-style: none;
    padding-left: 0;
    color: var(--color-headings)
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

/* Icons */
.icon {
    width: 40px;
    height: 40px;
}

.icon--small {
    width: 30px;
    height: 30px;
}

.icon--primary {
    fill: var(--color-primary)
}


@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.5rem;
    }
}

/* Navigation Bar */
.nav {
    background: var(--color-background);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
}

.nav__list {
    width: 100%;
}

.nav__item {
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #222;
}

.nav__item > a {
    color: var(--color-headings);
    transition: color 0.3s;
}

.nav__item > a:hover {
    color: #fff;
}

/* buttons */
.btn {
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    outline: 0;
    padding: 1rem 2rem;
}

.btn--primary {
    background: var(--color-background);
    color: var(--color-headings);
    transition: 0.3s;
}

.btn--primary:hover {
    color: #fff;
}

/* Vidoes */
.video {
    height: 100%;
    width: 100%;
}

.video-container {
    height: 700px;
    width: 100%;
}


/* Grids */
.grid {
    display: grid;
}

@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .grid--1x3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Cocktail-Detail */
.cocktail-detail {
    height: 400px;
    width: 512px;
    border: 1px solid;
    border-color: black;
    padding: 2rem;
    text-align: center;
}

.cocktail-detail__title {

}

.cocktail-detail__description {
    
}

.cocktail-detail__ingredients {
    font-size: 1.2rem;
}
