:root {
    --color-primary: #050100;
    --color-secondary: #d2d0db;
    --color-accent: #c9c19e;
    --color-headings: #050100;
    --color-background: #e4e7ed;
    --color-body: #d2d0db;
}

*, *::after, *::before {
    box-sizing: border-box;
}

/* Reusable
.container {
    max-width: 1140px;
} */

/* Typography */
html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    color: var(--color-body)
}

h1, h2, h3 {
    margin: 1rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.5rem;
    }
}

/* Links */
a {
    text-decoration: none;
}

.link {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

@media screen and (min-width: 1024px) {
    .link {
        font-size: 1.5rem;
    }
}

/* Lists */
.list {
    list-style: none;
    padding-left: 0;
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

/* Icons */
.icon {
    width: 60px;
    height: 60px;
}

.icon-container {
    width: 45px;
    height: 45px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.icon-container--round-background {
    border-radius: 100%;
}

.icon-container--white {
    background: #fff;
    opacity: 0.5;
    transition: 0.3s;
}

.icon-container--white:hover {
    background: #fff;
    opacity: 1;
}

/* Navigation Bar */
.nav {
    background: var(--color-primary);
    color: var(--color-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.nav__list {
    width: 100%;
    max-height: 0;
    margin: 0;
}

.nav__item {
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #222;
}

.nav__item > a {
    color: var(--color-secondary);
    transition: color 0.3s;
}

.nav__item > a:hover {
    color: #fff;
}

.nav__toggler {
    cursor: pointer;
    opacity: 0.5;
    transition: box-shadow .3s;
}

.nav.collapsible--expanded .nav__list {
    max-height: 100vh;
}

.nav.collapsible--expanded .nav__toggler {
    opacity: 1;
    box-shadow: 0 0 0 7px #fff;
    border-radius: 15%;
}


@media screen and (min-width: 768px) {
    .nav__toggler {
        display: none;
    }

    .nav__list {
        display: flex;
        width: auto;
        max-height: 100%;
        opacity: 1;
    }

    .nav__item {
        border: 0;
    }

}

/* buttons */
.btn {
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    outline: 0;
    padding: 1rem 2rem;
}

.btn--primary {
    background: var(--color-background);
    color: var(--color-headings);
    transition: 0.3s;
}

.btn--primary:hover {
    color: #fff;
}

/* Vidoes */
.video {
    height: 100%;
    width: 100%;
}

.video-container {
    height: 700px;
    width: 100%;
}


/* Grids */
.grid {
    display: grid;
}

@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .grid--1x3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Collapsibles */
.collapsible__header {
    display: flex;
    justify-content: space-between;
}

.collapsible__heading {
    margin-top: 0;
}

.collapsible__chevron {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .3s;
}

.collapsible--expanded .collapsible__chevron {
    transform: rotate(0deg);
}

.collapsible--expanded .collapsible__content{
    max-height: 100vh;
    opacity: 1;
}

/* Cocktails */
.cocktail {
    gap: 3rem 1rem;
}

.cocktail__container {
    width: 400px;
    height: 400px;
    padding: 1rem;
}

.cocktail__details {
    text-align: center;
}

.cocktail__short_description {
    font-size: 1.2rem;
}

.cocktail__img {
    height: 100%;
    width: 100%;
}

/* Footer */
.footer {
    background: var(--color-primary);
    text-align: center;
    padding: 1rem;
}

.footer__content {
    color: #fff;
    padding: 1rem;
}

.footer__item {
    width: 100%;
    padding: 0.5rem;
}

.footer__item > a {
    color: var(--color-secondary);
    transition: color 0.3s;
}

.footer__item > a:hover {
    color: #fff;
}

.footer__social {
    border-top: 1px solid #fff;
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__copyright {
    font-size: 1rem;
}

@media screen and (min-width: 768px) {
    .footer__content {
        display: flex;
        justify-content: space-evenly;
    }

    .footer__item {
        width: auto;
        display: flex;
    }
}