
* {
    box-sizing: border-box;
}

.box {
    width: 100vw; 
    height: 100vh;
    border: 1px solid red;
    /* background: url(../images/cocktails/cosmopolitan-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; */
} 

.test {
    object-fit: contain;
}
