<div class="cocktail grid grid--1x2">
    <div class="cocktail__container cocktail__details">
        <h2 class="cocktail__name">Island Breeze</h2>
        <p class="cocktail__description">
            Island Breeze Cocktail: A tropical paradise in a glass. Rum,
            pineapple, mango, lime, and a splash of soda water create a
            refreshing and vibrant escape. Cheers to pure relaxation!
        </p>
        <p class="cocktail__short_description">Refreshing * Fun * Spice</p>
    </div>
    <div class="cocktail__container">
        <picture>
            <img
                class="cocktail__img"
                src="images/cocktail_img_show.png"
                alt="Cocktail Icon"
            />
        </picture>
    </div>
</div>