<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>
        <span class="icon-container icon-container--white collapsible__chevron">
            <a href="#">
                <img
                    class="icon"
                    src="images/chevron-icon.png"
                    alt="instagram icon"
                />
            </a>
        </span>
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error
        temporibus excepturi nulla, esse ad illum ea aut minus deleniti officia
        consequuntur iusto culpa modi odit cum quas nihil nobis maxime.
    </div>
</div>
