<footer class="footer">
    <div class="footer__header">
        <h2>Tomer's Place</h2>
    </div>
    <div>
        <ul class="list footer__content">
            <li class="footer__item"><a href="#">About Us</a></li>
            <li class="footer__item"><a href="#">Contact Us</a></li>
            <li class="footer__item"><a href="#">Rules</a></li>
        </ul>
    </div>
    <div class="footer__social">
        <div class="icon-container icon-container--white">
            <a href="https://www.instagram.com/tomers__place/" target="_blank">
                <img
                    class="icon"
                    src="images/instagram-icon.png"
                    alt="instagram icon"
                />
            </a>
        </div>
    </div>
    <div class="footer__copyright">
        <p>Copyright © Tomer's Place 2023</p>
    </div>
</footer>