<nav class="nav collapsible">
    <div class="nav__logo">
        <a href="/"
            ><img
                class="icon icon--primary"
                src="images/Tomers_place.png"
                alt=""
        /></a>
    </div>
    <span class="icon-container icon-container--white nav__toggler">
        <img class="icon" src="images/menu.png" alt="instagram icon" />
    </span>
    <ul class="list nav__list collapsible__content">
        <li class="nav__item"><a href="#">Tomer's Place</a></li>
        <li class="nav__item"><a href="#">Cocktails</a></li>
        <li class="nav__item"><a href="#">Gallery</a></li>
        <li class="nav__item"><a href="#">Visit</a></li>
    </ul>
</nav>
