<section class="block block--white">
    <div class="grid grid--1x2 container cocktail">
        <div class="cocktail__details">
            <h2 class="cocktail__name">Cosmopolitan</h2>
            <p class="cocktail__description">
                The Cosmopolitan is a stylish and vibrant cocktail known
                for its elegant flavor. It offers a harmonious blend of
                fruity and tangy notes, creating a refreshing and
                well-balanced taste experience. This sophisticated drink
                has become a favorite among cosmopolitan enthusiasts,
                appealing to those who appreciate a chic and
                sophisticated libation.
            </p>
            <p class="cocktail__short_description">
                Elegant - Vibrant - Balanced
            </p>
        </div>
        <picture class="cocktail__image-container">
            <img
                class="cocktail__img"
                src="images/cocktails/cosmopolitan-612x612.jpg"
                alt="Cocktail Icon"
            />
        </picture>
    </div>

    <div class="grid grid--1x2 container cocktail">
        <div class="cocktail__details">
            <h2 class="cocktail__name">Blue Margarita</h2>
            <p class="cocktail__description">
                The Blue Margarita is an enchanting and visually
                striking cocktail that instantly captivates with its
                vibrant blue color. This captivating drink is a playful
                and refreshing twist on the beloved classic margarita.
            </p>
            <p class="cocktail__short_description">
                Vibrant - Refreshing - Captivating.
            </p>
        </div>
        <picture class="cocktail__image-container">
            <img
                class="cocktail__img"
                src="images/cocktails/blue-margarita-03.png"
                alt="Cocktail Icon"
            />
        </picture>
    </div>

    <div class="grid grid--1x2 container cocktail">
        <div class="cocktail__details">
            <h2 class="cocktail__name">Island Breeze</h2>
            <p class="cocktail__description">
                Island Breeze Cocktail: A tropical paradise in a glass.
                Rum, pineapple, mango, lime, and a splash of soda water
                create a refreshing and vibrant escape. Cheers to pure
                relaxation!
            </p>
            <p class="cocktail__short_description">
                Refreshing * Fun * Spice
            </p>
        </div>
        <picture class="cocktail__image-container">
            <img
                class="cocktail__img"
                src="images/cocktails/cosmopolitan-612x612.jpg"
                alt="Cocktail Icon"
            />
        </picture>
    </div>
</section>